<div class="text-field">
  <%= form.label :email, class: "block mt-5 mb-2 text-indigo-500"%>
  <%= form.text_field :email, type: 'email', class: "w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" %>
</div>

<div class="password-field">
  <%= form.label :password, class: "block mb-2 text-indigo-500" %>
  <%= form.password_field :password, class: "w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" %>
</div>