<table class="table-fixed border-separate border-2 rounded-md border-indigo-200 p-3 w-full">
  <thead>
    <tr>
      <th class="p-3 text-left text-lg text-indigo-500 border-b border-indigo-200">Category</th>
      <th class="p-3 text-left text-lg text-indigo-500 border-b border-indigo-200">Spent</th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category, amount|  %>
      <tr class="">
        <td class="py-5 px-3">
          <%= render partial: 'shared/category_badge', :locals => {:category_name => category} %>
        </td>
        <td class="py-5 px-3 text-gray-700">
          <%= number_to_currency(amount) %>
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>